{% extends 'layout.html' %}


{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1>Youtube Video Description</h1>
    <p class="lead">
      This AI tool will help you draft some cool video descriptions based on a topic or video idea your provided. Just enter the video topic or title for the AI to generate a description.
    </p>

    <form class="" action="/video-description" method="post">

      <div class="mb-3">
        <input type="text" class="form-control" name="videoDescription" placeholder="eg. Top 10 Project Management Software">
      </div>

      <button type="submit" class="btn btn-primary btn-lg">Submit</button>

    </form>
  </div>


  <div class="p-3 rounded">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-primary">{{prompt}}</h3>
        <p class="lead">{{openAIAnswer}}</p>

      </div>
    </div>
  </div>
</main>
{% endblock %}
